.orange{
	background-color: orange;
	color: white;
}
.white{
	background-color: whitesmoke;
}

.gray{
	background-color: gray;
}

.border_{
	border: 0.5px solid #b3b3b3;
}

.font{
	font-size: 20px;
}

